.home {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100vh;
}

.search__form-input {
    margin-top: 10px;
    background-color: rgba(#1da1f2, 0.1);
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 7px 15px;
    // transition: all 0.3s;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: none !important;
}

.search__form-input.Mui-focused {
    background-color: #fff;

    border: 1px solid #1da1f2 !important;
    .search__form-input-icon {
        color: #1da1f2;
    }
    &::after {
        content: none;
    }
    &::before {
        content: none;
        border-bottom: none;
    }
    &:hover {
        border-bottom: none;
        &::before {
            content: none;
            border-bottom: none;
        }
    }
}

.MuiInput-underline:before {
    border-bottom: none !important;
}
