.modal {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__cnotainer {
    background-color: #fff;
    width: 50%;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    &-closeIcon {
        position: absolute;
        top: 20px;
        right: 20px;
        svg {
            font-size: 26px;
            color: rgba(29, 161, 242, 0.5);
            transition: color 0.3s;
            &:hover {
                color: rgba(29, 161, 242);
            }
        }
    }
    &-icon {
        text-align: center;
        padding: 10px;
        svg {
            font-size: 32px;
            color: rgba(29, 161, 242);
        }
    }
    &-title {
        margin: 0;
        margin-bottom: 20px;
    }
    &-input {
        margin-bottom: 20px;
        label {
            font-size: 18px;
            z-index: 15;
            padding: 0 10px;
            background-color: #fff;
        }
    }
    &-useEmail {
        color: rgba(29, 161, 242, 0.5);
        cursor: pointer;
        transition: color 0.5s;
        margin-bottom: 35px;
        &:hover {
            color: rgba(29, 161, 242);
        }
    }
    &-text {
        color: grey;
        span {
            display: block;
            color: #000;
            font-weight: 700;
        }
    }
}

.modal__container-selectBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    .MuiFormControl-root {
        width: 30%;
        justify-content: space-between;
        label {
            background-color: #fff;
            padding: 0 5px;
        }
    }
}
